<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">

<head>
    <title>Search Results!!</title>
</head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="@{styles.css}">
<body>
<div93>
<ul>
    <li th:each="item : ${results}">
        Title: <div1 th:each="b:${item.blob}">
            <span th:text="${b}">
                <br>
            </span>
        </div1 >
        <br>
        Source: <div2 th:each="d:${item.domain}">
            <span th:text="${d}">
            </span>
        </div2>
        <br>
        Link: <div3 th:each="l:${item.url}">
            <a th:href ="@{{id}(id=${item.url})}">
                <span th:text="${l}"/>
            </a>
    </div3>
        <br>
        Keyword matches: <div4 th:each="o:${item.occurances}">
        <div31 th:if="${o=='0'}">
            Unknown
        </div31>
        <div31 th:unless="${o=='0'}">
            <span th:text="${o}">
            </span>
        </div31>
    </div4>

        <!--<p>List 2: <span th:text="${item.list2}"></span></p>
        <p>List 3: <span th:text="${item.list3}"></span></p>
        <p>List 4: <span th:text="${item.list4}"></span></p>/-->
    </li>
</ul>
</div93>
</body>
</html>